---
import DefaultLayout from '@layouts/DefaultLayout.astro';
import Button from "@components/Button.astro";

import * as About from '../demo/about.md';

let title = 'About';
let description = 'About page';

let permalink = 'https://astro-xenon.netlify.app/about';




const { content } = Astro.props;
---

<DefaultLayout
	{title}
	{description}
	{permalink} 
	path={Astro.canonicalURL.pathname}
	canonicalUrl={Astro.canonicalURL.href}
>
	<div class="flow">
	
	<About.Content />

	</div>
</DefaultLayout>

<style>

</style>
