---
import "@styles/components/_button.css"


export interface Props {
	className: string
	href?: string
	externalTarget?: boolean
	id?: string
	type?: 'button' | 'submit' | 'reset' | undefined;
	name?: string
	title?: string
	ariaLabel?: string
	live?: string
	ariaExpanded?: string

}

const { id, className, href, externalTarget, type, name, ariaExpanded, ariaLabel} = Astro.props
---

{(() => {
  if (href && externalTarget) {
    return (
      <a
        id={id}
        target="_blank"
        rel="noopener"
        href={href}
        class={className}
      >
        <slot />
      </a>
    );
  }
  if (href) {
    return (
      <a id={id} href={href} class={className}>
        <slot />
      </a>
    );
  }
  return (
    <button
      id={id}
      class={className}
      type={type || 'button'}
      name={name}
      aria-expanded={ariaExpanded}
      aria-label={ariaLabel}
    >
      <slot />
    </button>
  );
})()}

