---
import { Picture } from "astro-imagetools/components"
import Label from "@components/Label.astro"
import dayjs from "dayjs"

export interface Props {
	url: string
	title: string
	image?: string
	alt: string
	label: string
	datePublished: string
	description: string
}

const { url, title, image, alt, label, datePublished, description } =
	Astro.props
---

<article class={image ? "post post-has-img" : "post"}>
	<figure class="post-figure">
		<Picture
			src={image}
			layout="fill"
			alt={alt ? `${alt}` : ` `}
			width={300}
			height={300}
		/>
	</figure>
	<div class="post-content">
		<div class="post-header">
			
			<h2 class="post-title font-size-4">
				<a href={url} class="post-link">{title}</a>
			</h2>

			<dl class="post-meta">
				<dt class="post-meta-key">
					<span class="sr-only">Date Published</span>
				</dt>
				<dd class="post-meta-value">
					{dayjs(datePublished).format("DD MMMM YYYY")}
				</dd>
			</dl>
			<Label className="label-default" name={label} />
		</div>
		<p class="post-description" set:html={description}></p>
	</div>
</article>

<style>
	.post {
		display: grid;
		position: relative;
		grid-template-columns: min(20%, 8rem) auto;
		gap: var(--gutter);
	}

	.post-figure {
		align-self: start;
	}

	.post-content {
		display: flex;
		flex-direction: column;
		row-gap: var(--size-4);
	}

	.post-header {
		display: grid;
	}

	@media (--sm-n-above) {
	.post-header {
		grid-template-columns: auto min-content;
		}
	}

	.post-header > * {
		grid-column: 1;
	}

	.post-header .label {
		align-self: start;
		justify-self: start;
		margin-top: var(--size-2);
		@media (--sm-n-above) {
		grid-area: 1 / 2;
		margin-top: unset;
		}
		
	}


	.post-meta {
		font-family: var(--font-mono);
		font-size: var(--font-size-smaller);
	}

	.post-description {
		max-width: var(--size-content-3);
	}
</style>
