---
import { Img } from "astro-imagetools/components"
import Label from "@components/Label.astro"
import dayjs from "dayjs"

export interface Props {
	url: string
	title: string
	image?: string
	alt: string
	label: string
	datePublished: string
	description: string
}

const { url, title, image, alt, label, datePublished, description } =
	Astro.props
---

<li class={image ? "post post-has-img" : "post"}>
	<figure class="post-figure">
		<Img
			src={image}
			layout="fill"
			alt={alt ? `${alt}` : ` `}
			width={300}
			height={300}
		/>
	</figure>
	<div class="post-content">
		<div class="post-header">
			<Label className="label-default" name={label} />
			<h2 class="post-title font-size-lg">
				<a href={url} class="post-link">{title}</a>
			</h2>

			<dl class="post-meta">
				<dt class="post-meta-key">
					<span class="sr-only">Date Published</span>
				</dt>
				<dd class="post-meta-value">
					{dayjs(datePublished).format("DD MMMM YYYY")}
				</dd>
			</dl>
		</div>
		<p class="post-description" set:html={description}></p>
	</div>
</li>

<style>
	.post {
		display: grid;
		/* background: var(--surface-0);
		border-radius: var(--radius-rounded); */
		position: relative;
		/* padding: var(--gutter); */
		grid-template-columns: min(20%, 8rem) auto;
		gap: var(--gutter);

	}



	.post-figure {
		align-self: start;
	}

	.post-content {
		display: flex;
		flex-direction: column;
		row-gap: var(--size-4);
	}

	.post-header {
		display: grid;
		grid-template-columns: auto min-content;
	}

	.post-header > * {
		grid-column: 1;
	}

	.post-header .label {
		grid-column: 2;
		align-self: start;
	}

	.post-header .post-title {
		grid-row: 1;
	}

	.post-meta {
		font-family: var(--font-mono);
		font-size: var(--font-size-smaller);
	}

	.post-description {
		max-width: var(--size-content-3);
	}
</style>
