---
import '@styles/main.css';
import nav from '@data/site.json';
import * as Template from '@components/Template.md';

import Head from '@components/global/Head.astro';
import Footer from '@components/global/Footer.astro';
import Sidebar from '@components/global/Sidebar.astro';
import SkipLinks from '@components/global/SkipLinks.astro';
import PostEntry from '@components/PostEntry.astro';

export interface Props {
	title: string;
	layoutCss?: string;

}
let layoutCss = 'entry'
const { content } = Astro.props;
const {
  title,
	date,
  description,
  permalink,
  canonicalUrl,
  image,
  category,
  tags,
} = content;


---

<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<Head {title} {description} {permalink} {canonicalUrl} />
	</head>
	<body>
		<div data-layout={layoutCss ? layoutCss : `default` }>
		
			<SkipLinks client:load />
			<div class='wrapper'>
				<Sidebar />
				<main class='site-content' id='site-content' role='main'>
					<PostEntry
            {title}
            category={category} 
            image={image.path} imageCredit={image.credit} imageOrigin={image.origin} 
            alt={image.alt}
            datePublished={date.published} 
						dateUpdated={date.updated} 
            {tags}
          >
            <slot></slot>

            <Template.Content />
          </PostEntry>

					
				</main>
			</div>
			<Footer />
		</div>
	</body>
</html>
